/* Location Input Styles */
.location-input {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #fffdef;
    justify-content: center;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.location-input input {
    padding: 8px;
    border: 3px solid #f19707;
    border-radius: 4px;
    background-color: #f8dd72;
    color: #9e5308;
}

.submit-btn {
    padding: 8px 15px;
    background-color: #f8dd72;
    color: rgb(217, 124, 2);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 36px;
}

.submit-btn:hover {
    background-color: #e39802;
    color: rgb(255, 238, 110);
}